body {
    font-size: 20px;
    background: #c1ff72;
}

#highScoreDisplayer {
    font-size: 32px;
    color:#ffbf00;
}

#scoreDisplayer{
    font-size: 32px;
    color:#5400ff ;
}
#timeDisplayer {
    color:#5400ff ;
}

#immunityContainer {
    color:#efbf04 ;
}

#immunityBar {
    background: #f99ca5cc;
}
#displays {
    width: 450px;
}

.progress-bar {
    transition: 0.15s linear;
}

label.form-label {
    color:#0505f5;
}

#usernameError {
    color: #ff0000;
}

#rulesModal li {
    color: #0505f5;
}


.game-over {
    animation: pulseText 1.5s infinite ease-in-out;
    font-size: 28px;
    font-weight: bold;
    color: #ff0000 !important;
}

#high-score-message {
    font-size: 32px;
    animation: pulseText 1.5s infinite ease-in-out;
    color:#ffbf00;
}

#new-high-score{
    font-size: 24px;
    font-weight: bold;
    color:#ffbf00;
}
@keyframes pulseText {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}

#death-cause {
    font-size: 24px;
    font-weight: bold;
    color: #e0f000;
}

.hidden {
    display: none;
}

.btn {
    border-radius: 0;
    box-shadow: 5px 5px 0 black;
    transition: transform 0.15s , box-shadow 0.15s linear;
}

.btn:hover{
    transform: translate(5px, 5px);
    box-shadow: 0 0 0 black;
}

.table td {
    border: none;
    font-size: 20px;
    color: #0505f5;
    background-color: #76D7C4 ;
}

.table-container td,th{
    border: none;
    text-align: center;
}

.table-container th {
    text-align: center;
    color: #e87523;
    background-color: #76D7C4;
    font-size: 1.3rem;
}

.modal-title {
    font-size: 31px;
    color:rgb(255, 2, 213);
}

.modal-content {
    box-shadow: 5px 5px 0 black;
    border-radius: 0;
    background: #76D7C4;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-container {
  max-height: 150px;
  overflow-y: auto;
}

.modal-body { /* Used in Firefox browser */
    scrollbar-width: thin;
    scrollbar-color: #cf787c transparent; 
}

/* For other browser like chrome,safari,edge,etc.. */
.modal-body::-webkit-scrollbar-thumb {
    background: #cf787c;
    border-radius: 10px;
}

.icon {
    margin-right: 4px;
    height: 1em;
    width: 1em;
}